// Header

.header {
    background-color: #253580;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0 20px;

    &__title {
        color: $color-white;
    }

    &__exit {
        color: $color-white;
        width: 32px;
        font-weight: 100;
    }
}